---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À Propos | Antoine Gach" description="À propos de moi">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À Propos"
				tagline="Merci de votre visite! Retrouvez mes informations et mon parcours ci-dessous."
			>
				<!-- <img

					src="/assets/Profil-1.jpg"
					alt="Antoine en randonnée"
				/> -->
			</Hero>

			<section>
				<h2 class="section-title">Parcours</h2>
				<div class="content">
					<p>
						Premièrement intéressé par les sciences humaines, j'ai commencé par étudier l'Anthropologie et les Sciences Économiques. Mes expériences professionnelles diverses, entre autres administrateur des ventes, commercial et serveur m'ont apporté beaucoup de compétences, mais n'ont pas réussi à satisfaire mon côté curieux de nature ainsi que mon esprit scientifique. Mes cours d'introduction au langage C à l'université m'ont alors inspirés à me reconvertir dans le développement Web 4 ans plus tard.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Je suis titulaire d'une double license en Anthropologie et Sciences Economiques délivrée par l'Université de Montréal en 2020. Désireux de me reconvertir dans le développement Web, j'ai obtenu la certification Concepteur Développeur d'applications Web RNCP39261 - Niveau 6 (équivalent Bac+3) Concepteur grâce au Wagon en Décembre 2024.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<p>J'ai des compétences front-end en HTML, CSS et JavaScript avec notamment Stimulus. Mes compétences back-end s'articulent autour du JavaScript et de Ruby on Rails. </p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
